// Snackbar custom styles
.success-snackbar {
  background-color: #4caf50 !important;
  color: white !important;

  .mat-mdc-snack-bar-label {
    color: white !important;
  }

  .mat-mdc-button {
    color: white !important;
  }

  .mdc-snackbar__surface {
    background-color: #4caf50 !important;
  }
}

.error-snackbar {
  background-color: #b71f29 !important;
  color: white !important;

  .mat-mdc-snack-bar-label {
    color: white !important;
  }

  .mat-mdc-button {
    color: white !important;
  }

  .mdc-snackbar__surface {
    background-color: #b71f29 !important;
  }
}

.info-snackbar {
  background-color: #2196f3 !important;
  color: white !important;

  .mat-mdc-snack-bar-label {
    color: white !important;
  }

  .mat-mdc-button {
    color: white !important;
    font-weight: 600 !important;
  }

  .mdc-snackbar__surface {
    background-color: #2196f3 !important;
  }
}

