@use './styles/reset';
@use '@angular/material' as mat;
@use './styles/theme-colors' as customTheme;

html {
  @include mat.theme((
    color: (
      primary: customTheme.$primary-palette,
      tertiary: customTheme.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  font: var(--mat-sys-body-medium);
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
